extends layout

block content
  h1 Books 
  p 
    a(class="button" href="/books/new") Create New Book
  table
    thead
      tr
        th Title 
        th Author 
        th Genre 
        th Year 
    tbody 
      each book in books 
        tr  
          td(class="title")= book.title 
          td(class="author")= book.author 
          td(class="genre")= book.genre 
          td(class="year")= book.year
        
          

    